.bgimg {
  background-image: url('../../assets/img/hero-home.jpg');
  height: 80vh;
  width: 80vw;
  background-position: center;
  background-size: cover;
  position: absolute;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fafafa;
}

.mat-button {
  border: 1px solid;
  border-radius: 6px;
  background:#24c875;;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.23);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.23);
  text-shadow: 1px 1px rgba(0,0,0,0.23);
  outline: none;
}

hr {
  margin: auto;
  width: 40%;
}
