<!-- <div class="bgimg">
  <div class="topleft">
    <p>Logo</p>
  </div> -->
  <div class="bgimg">
      <!-- <img src="assets/img/hero-home.jpg" alt="sharp Bus Lines" width="600" height="450"> -->
  <div class="middle">
    <h1>Beck Taxi Booking Application</h1>
    <hr>
    <!-- <p *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login to book a taxi</a>
    </p> -->
  </div>
  <div class="bottomleft">
    <p>&copy;Sharp Bus Lines</p>
  </div>
</div>
